<a href="https://colab.research.google.com/github/jsChaparroj/Taller1CienciaDatos/blob/main/CienciadeDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os as os
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt
import numpy as np

# Taller 1 

### 1.  Cargue la base de datos.

In [ ]:
datos = pd.read_csv("/content/drive/MyDrive/V semestre/DataScience/Delitos_en_Colombia.csv")
datos.head()

,TEMÁTICA,FECHA,DEPARTAMENTO,MUNICIPIO,DIA,HORA,BARRIO,ZONA,CLASE SITIO,ARMA EMPLEADA,MOVIL AGRESOR,MOVIL VICTIMA,EDAD,SEXO,ESTADO CIVIL,PAIS NACE,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,CODIGO DANE
0,ABIGEATO,01/01/2014,MAGDALENA,ARIGUANÍ,Miércoles,4:00,VEREDA ANA MARIA,RURAL,FINCAS Y SIMILARES,SIN EMPLEO DE ARMAS,A PIE,A PIE,27,FEMENINO,SOLTERO,COLOMBIA,INDEPENDIENTE,NO REPORTADO,SUPERIOR,47058000.0
1,ABIGEATO,01/01/2014,META,MESETAS,Miércoles,18:00,VEREDA LAS ROSAS,RURAL,FINCAS Y SIMILARES,SIN EMPLEO DE ARMAS,A PIE,A PIE,46,MASCULINO,CASADO,COLOMBIA,AGRICULTOR,NO REPORTADO,SECUNDARIA,50330000.0
2,ABIGEATO,01/01/2014,META,PUERTO LÓPEZ,Miércoles,6:00,VEREDA SAN LUIS DE RIO NEGRO,RURAL,FINCAS Y SIMILARES,SIN EMPLEO DE ARMAS,A PIE,A PIE,62,MASCULINO,CASADO,NO REPORTADO,AGRICULTOR,NO REPORTADO,PRIMARIA,50573000.0
3,ABIGEATO,02/01/2014,ANTIOQUIA,ANDES,Jueves,1:00,QUEBRADA ARRIBA,RURAL,FINCAS Y SIMILARES,SIN EMPLEO DE ARMAS,A PIE,NO REPORTADO,25,MASCULINO,CASADO,COLOMBIA,AGRICULTOR,NO REPORTADO,PRIMARIA,5034000.0
4,ABIGEATO,02/01/2014,BOYACÁ,CÓMBITA,Jueves,12:00,VDA. SAN ONOFRE,RURAL,FINCAS Y SIMILARES,SIN EMPLEO DE ARMAS,A PIE,A PIE,48,MASCULINO,CASADO,COLOMBIA,AGRICULTOR,NO REPORTADO,PRIMARIA,15204000.0

### 2. Obtener una base de datos por municipios, que contenga la cantidad de delitos por tem´atica, porcentaje de mujeres victimas y porcentaje de delitos en zonas rural

In [ ]:
print(datos["SEXO"].unique())
print(datos["ZONA"].unique())

['FEMENINO' 'MASCULINO' 'NO REPORTADO' nan '-' 'NO REPORTA' 'NO REPORTADA']
['RURAL' 'URBANA' nan]

In [ ]:
def limpiar_sexo(x):
    if x is np.nan:
        return(x)
    if "NO REPOR" in x:
        x = np.nan
        return(x)
    if "-" in x:
        x = np.nan
        return(x)
    else:
        return(x)
    
datos["SEXO"] = datos["SEXO"].apply(limpiar_sexo)

In [ ]:
filtro1 = datos[(datos["SEXO"] == "FEMENINO") & (datos["ZONA"] == "RURAL")]
filtro1.sample(5)

,TEMÁTICA,FECHA,DEPARTAMENTO,MUNICIPIO,DIA,HORA,BARRIO,ZONA,CLASE SITIO,ARMA EMPLEADA,MOVIL AGRESOR,MOVIL VICTIMA,EDAD,SEXO,ESTADO CIVIL,PAIS NACE,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,CODIGO DANE
46275,LESIONES PERSONALES,18/02/2013,BOYACÁ,CHIQUINQUIRÁ,Lunes,17:30,VDA. PUENTE DE TIERRA,RURAL,FINCAS Y SIMILARES,CONTUNDENTES,A PIE,A PIE,41,FEMENINO,CASADO,COLOMBIA,INDEPENDIENTE,NO REPORTADO,PRIMARIA,15176000.0
209740,VIOLENCIA INTRAFAMILIAR,07/03/2016,MAGDALENA,NUEVA GRANADA,Lunes,1:35:00,CORREGIMIENTO PUEBLITO LOS ANDES,RURAL,VIAS PUBLICAS,CONTUNDENTES,A PIE,A PIE,37,FEMENINO,UNION LIBRE,COLOMBIA,AMA DE CASA,NO REPORTADO,PRIMARIA,47460000.0
516649,HURTO A RESIDENCIAS,17/10/2012,RISARALDA,PEREIRA (CT),Miércoles,0:00,VDA. LA BELLA,RURAL,FINCAS Y SIMILARES,SIN EMPLEO DE ARMAS,A PIE,A PIE,52,FEMENINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,NO REPORTADO,SECUNDARIA,66001000.0
17854,AMENAZA,NaN,NARIÑO,TÚQUERRES,Viernes,16:00:00,VEREDA PESCADILLO,RURAL,FINCAS Y SIMILARES,CONTUNDENTES,A PIE,A PIE,27,FEMENINO,SOLTERO,COLOMBIA,AGRICULTOR,-,PRIMARIA,52838000.0
535830,DELITOS SEXUALES,08/05/2016,RISARALDA,QUINCHÍA,Domingo,1:20:00,VEREDA MIRACAMPOS,RURAL,VIAS PUBLICAS,-,A PIE,A PIE,19,FEMENINO,SOLTERO,-,EMPLEADO PARTICULAR,-,SECUNDARIA,66594000.0

In [ ]:
df1 = pd.pivot_table(filtro1,index = ["MUNICIPIO","TEMÁTICA"] ,values=["SEXO","ZONA"]  ,  aggfunc="count")
df1

                                       SEXO  ZONA
MUNICIPIO     TEMÁTICA
ABEJORRAL     DELITOS SEXUALES            5     5
              LESIONES PERSONALES         1     1
              VIOLENCIA INTRAFAMILIAR     1     1
ABREGO        ABIGEATO                    1     1
              AMENAZA                     4     4
...                                     ...   ...
ZONA BANANERA DELITOS SEXUALES           10    10
              HOMICIDIOS                  4     4
              LESIONES PERSONALES        13    13
              VIOLENCIA INTRAFAMILIAR     7     7
ÚTICA         HOMICIDIOS                  1     1

[4570 rows x 2 columns]

In [ ]:
datos["TEMÁTICA"].unique()

array(['ABIGEATO',
       'ABIGEATO,,TOLIMA,SAN ANTONIO,Jueves,16:00,CENTRO,URBANA,"MATADEROS, CARNICERIA Y SIMILARES",SIN EMPLEO DE ARMAS,A PIE,A PIE,87,MASCULINO,SOLTERO,COLOMBIA,ETNIA INDIGENA,NO REPORTADO,SECUNDARIA,73675000',
       'ABIGEATO,,BOYACÁ,PAZ DE RÍO,Domingo,23:00,PARQUE PRINCIPAL,URBANA,"MATADEROS, CARNICERIA Y SIMILARES",SIN EMPLEO DE ARMAS,A PIE,A PIE,45,MASCULINO,SOLTERO,COLOMBIA,COMERCIANTE,NO REPORTADO,SECUNDARIA,15537000',
       ...,
       'EXTORCIÓN,05/01/2014,META,VILLAVICENCIO (CT),Domingo,9:45,MAIZARO,URBANA,"HOTELES, RESIDENCIAS, Y SIMILARES.",LLAMADA TELEFONICA,A PIE,A PIE,NO REPORTADA,NO REPORTADA,NO REPORTADA,NO REPORTADA,NO REPORTADA,NO REPORTADA,NO REPORTADA,50001000',
       'EXTORCIÓN,02/01/2014,VALLE,CALI (CT),Jueves,8:30,MOJICA E15,URBANA,"MATADEROS, CARNICERIA Y SIMILARES",MIXTA,A PIE,A PIE,46,MASCULINO,DIVORCIADO,COLOMBIA,COMERCIANTE,NO REPORTADA,SECUNDARIA,76001000',
       'EXTORCIÓN,02/01/2014,MAGDALENA,SANTA MARTA (CT),Jueves,12:00,MAMATOCO,URBANA,"HOTELES, RESIDENCIAS, Y SIMILARES.",DIRECTA,A PIE,A PIE,53,MASCULINO,CASADO,COLOMBIA,EMPLEADO PARTICULAR,TECNOLOGO SOLDADURA,TECNOLOGO,47001000'],
      dtype=object)

In [ ]:
datos[datos["TEMÁTICA"].str.contains(",")]

,TEMÁTICA,FECHA,DEPARTAMENTO,MUNICIPIO,DIA,HORA,BARRIO,ZONA,CLASE SITIO,ARMA EMPLEADA,MOVIL AGRESOR,MOVIL VICTIMA,EDAD,SEXO,ESTADO CIVIL,PAIS NACE,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,CODIGO DANE
870,"ABIGEATO,,TOLIMA,SAN ANTONIO,Jueves,16:00,CENT...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1357,"ABIGEATO,,BOYACÁ,PAZ DE RÍO,Domingo,23:00,PARQ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1868,"ABIGEATO,,MAGDALENA,PLATO,Miércoles,11:00,LOS ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2267,"ABIGEATO,,ANTIOQUIA,BELLO,Miércoles,12:30:00,S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2388,"ABIGEATO,,CASANARE,VILLANUEVA,Lunes,7:00:00,AG...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568984,"EXTORCIÓN,10/01/2014,ANTIOQUIA,TURBO,Viernes,1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569054,"EXTORCIÓN,07/01/2014,ATLÁNTICO,BARANOA,Martes,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569077,"EXTORCIÓN,05/01/2014,META,VILLAVICENCIO (CT),D...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569110,"EXTORCIÓN,02/01/2014,VALLE,CALI (CT),Jueves,8:...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569113,"EXTORCIÓN,02/01/2014,MAGDALENA,SANTA MARTA (CT...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN